---
---

@import "{{ site.theme }}";

header {
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.description_container {
    font-size: 13px;
}

sub {
    margin: 0px;
    padding: 0px;
}

sup {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-bottom: 0px;
    padding: 0px;
}